In [26]:
import pandas as pd
import numpy as np
import sys

import warnings
import math

df=pd.read_csv('../data/data.csv.gz', compression='gzip', sep=',')
df['timestamp'] = pd.to_datetime(df['time_stamp'], format="%Y-%m-%d %H:%M:%S").dt.tz_convert('CET')

In [27]:
stock_delta = df['stock_id'] - df['stock_id'].shift()
time_delta = (df['timestamp'] - df['timestamp'].shift()).fillna(10000).dt.total_seconds()

/home/ken/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Passing integers to fillna is deprecated, will raise a TypeError in a future version.  To retain the old behavior, pass pd.Timedelta(seconds=n) instead.

In [28]:
stock_split_index=df.index[stock_delta!=0].tolist()
stock_split_index.append(len(df))

In [29]:
day_split_index=df.index[abs(time_delta)>36000].tolist()
day_split_index.insert(0, 0)
day_split_index.append(len(df))

In [30]:
stock_id_list = df['stock_id'].unique().tolist()
i = 0
for stock_index in stock_id_list:
    
    print("index: {}, id:{}".format(i, stock_index))
    i+=1

index: 0, id:101
index: 1, id:1027
index: 2, id:120
index: 3, id:139301
index: 4, id:15285
index: 5, id:160271
index: 6, id:161
index: 7, id:18634
index: 8, id:281
index: 9, id:283
index: 10, id:285
index: 11, id:300
index: 12, id:323
index: 13, id:340
index: 14, id:3524
index: 15, id:361
index: 16, id:366
index: 17, id:3966
index: 18, id:401
index: 19, id:402
index: 20, id:45
index: 21, id:46
index: 22, id:47
index: 23, id:4928
index: 24, id:5095
index: 25, id:81
index: 26, id:812
index: 27, id:819
index: 28, id:992
index: 29, id:999

In [31]:
current_stock_index = 0
time_series_list = []
time_series_all_list = []
for i in range(len(day_split_index) - 1):
    start_index = day_split_index[i]
    end_index = day_split_index[i + 1]
    day_time_series = df.iloc[start_index:end_index]
    time_series_list.append(day_time_series)
    if end_index == stock_split_index[current_stock_index + 1]:
        print("finished stock: {}, got {} time series".format(current_stock_index, len(time_series_list)))
        time_series_all_list.append(time_series_list)
        time_series_list = []
        current_stock_index += 1

finished stock: 0, got 67 time series
finished stock: 1, got 67 time series
finished stock: 2, got 67 time series
finished stock: 3, got 67 time series
finished stock: 4, got 67 time series
finished stock: 5, got 67 time series
finished stock: 6, got 67 time series
finished stock: 7, got 67 time series
finished stock: 8, got 67 time series
finished stock: 9, got 67 time series
finished stock: 10, got 67 time series
finished stock: 11, got 67 time series
finished stock: 12, got 67 time series
finished stock: 13, got 67 time series
finished stock: 14, got 67 time series
finished stock: 15, got 67 time series
finished stock: 16, got 67 time series
finished stock: 17, got 67 time series
finished stock: 18, got 67 time series
finished stock: 19, got 67 time series
finished stock: 20, got 67 time series
finished stock: 21, got 67 time series
finished stock: 22, got 67 time series
finished stock: 23, got 67 time series
finished stock: 24, got 67 time series
finished stock: 25, got 67 time series
finished stock: 26, got 67 time series
finished stock: 27, got 67 time series
finished stock: 28, got 67 time series
finished stock: 29, got 67 time series

In [32]:
for stock_id in range(len(stock_id_list)):
    diff = time_series_all_list[stock_id][0]['open'].diff()

    min_ = diff[diff>=0.005].min()
    open_ = time_series_all_list[stock_id][0]['open'].mean()

    print("stockid:{} min={}, cost={}".format(stock_id, min_, min_/open_))

stockid:0 min=0.01999999999999602, cost=0.0002506328731686442
stockid:1 min=0.04999999999999716, cost=0.0004324118086577501
stockid:2 min=0.09999999999999432, cost=0.0004770512691615322
stockid:3 min=0.05000000000001137, cost=0.00022208616640416757
stockid:4 min=0.04999999999998295, cost=0.0002296265100385087
stockid:5 min=0.009999999999990905, cost=0.00012077163935460391
stockid:6 min=0.0999999999999659, cost=0.0002550752396191084
stockid:7 min=0.04999999999998295, cost=0.00025107768120267684
stockid:8 min=0.01999999999999602, cost=0.00021859492554106004
stockid:9 min=0.04999999999998295, cost=0.0003103472424430125
stockid:10 min=0.04999999999998295, cost=0.0003345156164678929
stockid:11 min=0.00999999999999801, cost=0.0003036286812322899
stockid:12 min=0.01999999999999602, cost=0.00025655061972493324
stockid:13 min=0.01999999999999602, cost=0.00020031162457892878
stockid:14 min=0.09999999999990905, cost=0.00015461811402305147
stockid:15 min=0.0999999999999659, cost=0.0002516653539310279
stockid:16 min=0.04999999999999716, cost=0.00040022399230502613
stockid:17 min=0.04999999999998295, cost=0.0002882983652986772
stockid:18 min=0.04999999999998295, cost=0.0003441124545689826
stockid:19 min=0.04999999999998295, cost=0.0002992523993222995
stockid:20 min=0.04999999999998295, cost=0.00021194444432686026
stockid:21 min=0.04999999999998295, cost=0.00023062060290126194
stockid:22 min=0.1999999999999318, cost=0.000274997294775039
stockid:23 min=0.04999999999998295, cost=0.0003484499688678757
stockid:24 min=0.00999999999999801, cost=0.00025275447209916586
stockid:25 min=0.09999999999999432, cost=0.0004798826713827897
stockid:26 min=0.01999999999999602, cost=0.00023707653763174866
stockid:27 min=0.0999999999999659, cost=0.0002253572128512553
stockid:28 min=0.01999999999998181, cost=0.00014791440686309394
stockid:29 min=0.09999999999999432, cost=0.0004442917059851916

In [33]:
time_series_all_list[14][0]

,stock_id,time_stamp,open,high,low,last,volume,timestamp
420107,3524,2019-01-28 08:00:00+00,646.1,646.1,644.0,644.2,2572,2019-01-28 09:00:00+01:00
420108,3524,2019-01-28 08:01:00+00,645.7,646.5,645.1,645.1,577,2019-01-28 09:01:00+01:00
420109,3524,2019-01-28 08:02:00+00,645.2,645.8,644.8,645.5,252,2019-01-28 09:02:00+01:00
420110,3524,2019-01-28 08:03:00+00,645.6,645.9,645.6,645.6,300,2019-01-28 09:03:00+01:00
420111,3524,2019-01-28 08:04:00+00,646.9,647.6,646.9,646.9,1296,2019-01-28 09:04:00+01:00
420112,3524,2019-01-28 08:05:00+00,647.1,647.1,646.4,646.4,51,2019-01-28 09:05:00+01:00
420113,3524,2019-01-28 08:06:00+00,646.4,646.4,645.5,645.5,714,2019-01-28 09:06:00+01:00
420114,3524,2019-01-28 08:07:00+00,646.3,646.3,646.3,646.3,300,2019-01-28 09:07:00+01:00
420115,3524,2019-01-28 08:08:00+00,646.0,646.2,646.0,646.2,60,2019-01-28 09:08:00+01:00
420116,3524,2019-01-28 08:09:00+00,646.6,647.1,646.5,647.1,626,2019-01-28 09:09:00+01:00
420117,3524,2019-01-28 08:10:00+00,647.2,647.2,646.6,646.6,2578,2019-01-28 09:10:00+01:00
420118,3524,2019-01-28 08:11:00+00,647.1,647.6,646.7,646.9,2154,2019-01-28 09:11:00+01:00
420119,3524,2019-01-28 08:12:00+00,647.1,648.7,647.1,648.2,1199,2019-01-28 09:12:00+01:00
420120,3524,2019-01-28 08:13:00+00,648.3,648.3,648.2,648.2,232,2019-01-28 09:13:00+01:00
420121,3524,2019-01-28 08:14:00+00,648.5,648.6,648.2,648.6,678,2019-01-28 09:14:00+01:00
420122,3524,2019-01-28 08:15:00+00,648.8,649.8,648.8,649.0,1515,2019-01-28 09:15:00+01:00
420123,3524,2019-01-28 08:16:00+00,649.5,649.7,649.5,649.7,210,2019-01-28 09:16:00+01:00
420124,3524,2019-01-28 08:17:00+00,649.8,649.9,649.4,649.4,475,2019-01-28 09:17:00+01:00
420125,3524,2019-01-28 08:18:00+00,649.5,650.0,649.5,650.0,807,2019-01-28 09:18:00+01:00
420126,3524,2019-01-28 08:19:00+00,649.7,650.4,649.5,650.4,1884,2019-01-28 09:19:00+01:00
420127,3524,2019-01-28 08:20:00+00,649.8,650.1,649.6,649.9,300,2019-01-28 09:20:00+01:00
420128,3524,2019-01-28 08:21:00+00,649.9,650.8,649.9,650.8,2765,2019-01-28 09:21:00+01:00
420129,3524,2019-01-28 08:22:00+00,651.0,651.3,651.0,651.3,619,2019-01-28 09:22:00+01:00
420130,3524,2019-01-28 08:23:00+00,651.4,651.4,651.0,651.0,300,2019-01-28 09:23:00+01:00
420131,3524,2019-01-28 08:24:00+00,651.0,651.0,650.8,650.8,617,2019-01-28 09:24:00+01:00
420132,3524,2019-01-28 08:25:00+00,650.7,650.7,650.4,650.4,1642,2019-01-28 09:25:00+01:00
420133,3524,2019-01-28 08:26:00+00,651.2,651.7,651.2,651.5,2399,2019-01-28 09:26:00+01:00
420134,3524,2019-01-28 08:27:00+00,651.4,652.3,651.4,652.3,3401,2019-01-28 09:27:00+01:00
420135,3524,2019-01-28 08:28:00+00,652.2,652.2,652.0,652.0,350,2019-01-28 09:28:00+01:00
420136,3524,2019-01-28 08:29:00+00,651.5,651.6,651.3,651.3,1410,2019-01-28 09:29:00+01:00
...,...,...,...,...,...,...,...,...
420561,3524,2019-01-28 15:56:00+00,643.2,643.2,642.7,642.9,1057,2019-01-28 16:56:00+01:00
420562,3524,2019-01-28 15:57:00+00,642.8,642.8,642.3,642.5,2137,2019-01-28 16:57:00+01:00
420563,3524,2019-01-28 15:58:00+00,642.6,642.7,642.6,642.7,111,2019-01-28 16:58:00+01:00
420564,3524,2019-01-28 15:59:00+00,642.5,642.5,642.1,642.1,697,2019-01-28 16:59:00+01:00
420565,3524,2019-01-28 16:00:00+00,642.1,642.2,642.0,642.0,632,2019-01-28 17:00:00+01:00
420566,3524,2019-01-28 16:01:00+00,642.1,642.1,641.9,642.0,401,2019-01-28 17:01:00+01:00
420567,3524,2019-01-28 16:02:00+00,641.9,641.9,641.8,641.9,3233,2019-01-28 17:02:00+01:00
420568,3524,2019-01-28 16:03:00+00,642.0,642.1,641.9,641.9,603,2019-01-28 17:03:00+01:00
420569,3524,2019-01-28 16:04:00+00,641.6,641.6,641.6,641.6,88,2019-01-28 17:04:00+01:00
420570,3524,2019-01-28 16:05:00+00,641.7,641.9,641.5,641.8,960,2019-01-28 17:05:00+01:00
420571,3524,2019-01-28 16:06:00+00,642.1,642.2,642.0,642.0,1327,2019-01-28 17:06:00+01:00
420572,3524,2019-01-28 16:07:00+00,642.0,642.1,642.0,642.1,300,2019-01-28 17:07:00+01:00
420573,3524,2019-01-28 16:08:00+00,642.2,642.4,642.2,642.4,276,2019-01-28 17:08:00+01:00
420574,3524,2019-01-28 16:09:00+00,642.4,642.4,642.2,642.3,1022,2019-01-28 17:09:00+01:00
420575,3524,2019-01-28 16:10:00+00,642.3,642.3,642.0,642.3,420,2019-01-28 17:10:00+01:00
420576,3524,2019-01-28 16:11:00+00,642.3,642.7,642.2,642.7,1050,2019-01-28 17:11:00+01:00
420577,3524,2019-01-28 16:12:00+00,642.7,642.9,642.7,642.7,2592,2019-01-28 17:12:00+01:00
420578,3524,2019-01-28 16:13:00+00,642.8,642.9,642.7,642.8,1052,2019-01-28 17:13:00+01:00
420579,3524,2019-01-28 16:14:00+00,643.2,643.2,643.1,643.2,906,2019-01-28 17:14:00+01:00
420580,3524,2019-01-28 16:15:00+00,643.2,643.3,642.9,642.9,1406,2019-01-28 17:15:00+01:00
420581,3524,2019-01-28 16:16:00+00,642.9,643.1,642.9,643.1,685,2019-01-28 17:16:00+01:00
420582,3524,2019-01-28 16:17:00+00,643.2,643.3,643.1,643.2,708,2019-01-28 17:17:00+01:00
420583,3524,2019-01-28 16:18:00+00,643.2,643.6,643.2,643.4,1750,2019-01-28 17:18:00+01:00
420584,3524,2019-01-28 16:19:00+00,643.3,643.4,643.0,643.0,746,2019-01-28 17:19:00+01:00
420585,3524,2019-01-28 16:20:00+00,643.2,643.3,643.1,643.1,376,2019-01-28 17:20:00+01:00
420586,3524,2019-01-28 16:21:00+00,643.1,643.6,643.1,643.6,659,2019-01-28 17:21:00+01:00
420587,3524,2019-01-28 16:22:00+00,643.7,644.0,643.6,643.7,2397,2019-01-28 17:22:00+01:00
420588,3524,2019-01-28 16:23:00+00,643.4,643.5,643.4,643.5,887,2019-01-28 17:23:00+01:00
420589,3524,2019-01-28 16:24:00+00,643.5,643.9,643.4,643.7,1442,2019-01-28 17:24:00+01:00
420590,3524,2019-01-28 16:29:00+00,643.3,643.3,643.3,643.3,38276,2019-01-28 17:29:00+01:00

In [34]:
for stock_id in range(len(time_series_all_list)):
    print("handling stock_id: {}".format(stock_id))
    for day_id in range(len(time_series_all_list[stock_id])):
        # :-1 is that we don't like the last record at 17:30 which is a aggregated number.
        df = time_series_all_list[stock_id][day_id]
        # some data might miss, we must make a right join with full time series
        # and do fillna.
        df2 = df.set_index('timestamp')
        ts = df2.index.min()
        start_time_str = "{}-{:02d}-{:02d} 8:54:00".format(ts.year, ts.month, ts.day)
        start_ts = pd.Timestamp(start_time_str, tz=ts.tz)
        # periods=510 means from 9 to 17.29
        dti = pd.date_range(start_ts , periods=516, freq='min').to_series(keep_tz=True).rename('time')
        # remove from 17.25 - 17.28
        #dti.drop(dti.tail(5).head(4).index, inplace=True)
        df3 = df2.join(dti, how='right')
        if day_id == 0: # the first day, we must set the value from 8.55-8.59 as same as 9.00
            df3['last'].iloc[0] = df3['last'].iloc[5]
        else:
            df3['last'].iloc[0] = time_series_all_list[stock_id][day_id-1]['last'].iloc[-1]
        
        
        df3['last'].interpolate(method='linear', inplace=True)
        df3['volume'].iloc[:6] = df3['volume'].iloc[6] / 6
        df3['volume'].iloc[6] = df3['volume'].iloc[6] / 6
        df3['volume'].iloc[-5:] = df3['volume'].iloc[-1]/5

        
        
        df = df3.reset_index().rename({'index':'timestamp'}, axis=1)
        df['step_of_day'] = np.arange(0, len(df))
        day_of_week = df['timestamp'].iloc[0].weekday()
        df['step_of_week'] = len(df) * day_of_week + df['step_of_day']
        
        #df['timestamp'] = pd.to_datetime(df['time_stamp'], format="%Y-%m-%d %H:%M:%S").dt.tz_convert('Europe/Stockholm')
        df['ema_10'] = df['last'].ewm(span=10, adjust=False).mean()
        df['ema_20'] = df['last'].ewm(span=20, adjust=False).mean()
        df['diff_ema_10']=(df['ema_10'].diff()[1:]/df['ema_10']).fillna(0)
        # the first diff at 9:00 is the difference between today's open and yesterday's last.

        df['diff_ema_20']=(df['ema_20'].diff()[1:]/df['ema_20']).fillna(0)
        df['value_ema_10_beta_99'] = 0
        df['value_ema_20_beta_99'] = 0
        df['value_ema_10_beta_98'] = 0
        df['value_ema_20_beta_98'] = 0
        for iter_id in range(10):
            df['value_ema_10_beta_99'] = df['diff_ema_10'].shift(-1).fillna(0) + \
                0.99 * df['value_ema_10_beta_99'].shift(-1).fillna(0)
            df['value_ema_10_beta_98'] = df['diff_ema_10'].shift(-1).fillna(0) + \
                0.98 * df['value_ema_10_beta_98'].shift(-1).fillna(0)
            df['value_ema_20_beta_99'] = df['diff_ema_20'].shift(-1).fillna(0) + \
                0.99 * df['value_ema_20_beta_99'].shift(-1).fillna(0)
            df['value_ema_20_beta_98'] = df['diff_ema_20'].shift(-1).fillna(0) + \
                0.98 * df['value_ema_20_beta_98'].shift(-1).fillna(0)
        # drop the first row because diff is nan    
        #df.drop(0, inplace=True)
        time_series_all_list[stock_id][day_id] = df.fillna(0)

handling stock_id: 0

In [37]:
time_series_all_list[0][1]

,timestamp,stock_id,time_stamp,open,high,low,last,volume,time,step_of_day,step_of_week,ema_10,ema_20,diff_ema_10,diff_ema_20,value_ema_10_beta_99,value_ema_20_beta_99,value_ema_10_beta_98,value_ema_20_beta_98
0,2019-01-29 08:54:00+01:00,0.0,0,0.00,0.00,0.00,79.020000,7730.166667,2019-01-29 08:54:00+01:00,0,516,79.020000,79.020000,0.000000,0.000000,0.001365,0.000853,0.001281,0.000799
1,2019-01-29 08:55:00+01:00,0.0,0,0.00,0.00,0.00,79.033333,7730.166667,2019-01-29 08:55:00+01:00,1,517,79.022424,79.021270,0.000031,0.000016,0.001442,0.000942,0.001362,0.000888
2,2019-01-29 08:56:00+01:00,0.0,0,0.00,0.00,0.00,79.046667,7730.166667,2019-01-29 08:56:00+01:00,2,518,79.026832,79.023689,0.000056,0.000031,0.001478,0.001008,0.001404,0.000955
3,2019-01-29 08:57:00+01:00,0.0,0,0.00,0.00,0.00,79.060000,7730.166667,2019-01-29 08:57:00+01:00,3,519,79.032863,79.027147,0.000076,0.000044,0.001730,0.001185,0.001642,0.001122
4,2019-01-29 08:58:00+01:00,0.0,0,0.00,0.00,0.00,79.073333,7730.166667,2019-01-29 08:58:00+01:00,4,520,79.040221,79.031546,0.000093,0.000056,0.002079,0.001420,0.001969,0.001343
5,2019-01-29 08:59:00+01:00,0.0,0,0.00,0.00,0.00,79.086667,7730.166667,2019-01-29 08:59:00+01:00,5,521,79.048666,79.036795,0.000107,0.000066,0.002005,0.001444,0.001911,0.001373
6,2019-01-29 09:00:00+01:00,101.0,2019-01-29 08:00:00+00,79.20,79.26,79.10,79.100000,7730.166667,2019-01-29 09:00:00+01:00,6,522,79.057999,79.042815,0.000118,0.000076,0.001706,0.001341,0.001648,0.001286
7,2019-01-29 09:01:00+01:00,101.0,2019-01-29 08:01:00+00,79.08,79.22,79.04,79.040000,13497.000000,2019-01-29 09:01:00+01:00,7,523,79.054727,79.042547,-0.000041,-0.000003,0.001476,0.001255,0.001460,0.001222
8,2019-01-29 09:02:00+01:00,101.0,2019-01-29 08:02:00+00,79.02,79.26,79.02,79.260000,48096.000000,2019-01-29 09:02:00+01:00,8,524,79.092049,79.063256,0.000472,0.000262,0.000778,0.000910,0.000792,0.000895
9,2019-01-29 09:03:00+01:00,101.0,2019-01-29 08:03:00+00,79.26,79.26,79.20,79.200000,6033.000000,2019-01-29 09:03:00+01:00,9,525,79.111676,79.076280,0.000248,0.000165,0.000551,0.000779,0.000570,0.000768
10,2019-01-29 09:04:00+01:00,101.0,2019-01-29 08:04:00+00,79.24,79.24,79.24,79.240000,100.000000,2019-01-29 09:04:00+01:00,10,526,79.135008,79.091872,0.000295,0.000197,0.000482,0.000721,0.000484,0.000705
11,2019-01-29 09:05:00+01:00,101.0,2019-01-29 08:05:00+00,79.16,79.18,79.14,79.180000,3233.000000,2019-01-29 09:05:00+01:00,11,527,79.143188,79.100265,0.000103,0.000106,0.000481,0.000698,0.000478,0.000681
12,2019-01-29 09:06:00+01:00,101.0,2019-01-29 08:06:00+00,79.20,79.20,79.14,79.180000,2136.000000,2019-01-29 09:06:00+01:00,12,528,79.149881,79.107859,0.000085,0.000096,0.000523,0.000699,0.000514,0.000680
13,2019-01-29 09:07:00+01:00,101.0,2019-01-29 08:07:00+00,79.20,79.30,79.20,79.300000,7548.000000,2019-01-29 09:07:00+01:00,13,529,79.177176,79.126158,0.000345,0.000231,0.000406,0.000621,0.000379,0.000593
14,2019-01-29 09:08:00+01:00,101.0,2019-01-29 08:08:00+00,79.30,79.38,79.26,79.380000,20206.000000,2019-01-29 09:08:00+01:00,14,530,79.214053,79.150334,0.000466,0.000305,0.000083,0.000431,0.000042,0.000396
15,2019-01-29 09:09:00+01:00,101.0,2019-01-29 08:09:00+00,79.34,79.34,79.22,79.220000,13067.000000,2019-01-29 09:09:00+01:00,15,531,79.215134,79.156968,0.000014,0.000084,0.000019,0.000365,-0.000017,0.000332
16,2019-01-29 09:10:00+01:00,101.0,2019-01-29 08:10:00+00,79.22,79.24,79.12,79.120000,18777.000000,2019-01-29 09:10:00+01:00,16,532,79.197837,79.153448,-0.000218,-0.000044,0.000367,0.000514,0.000320,0.000475
17,2019-01-29 09:11:00+01:00,101.0,2019-01-29 08:11:00+00,79.12,79.14,79.06,79.060000,3652.000000,2019-01-29 09:11:00+01:00,17,533,79.172776,79.144548,-0.000317,-0.000112,0.000793,0.000723,0.000744,0.000683
18,2019-01-29 09:12:00+01:00,101.0,2019-01-29 08:12:00+00,79.06,79.06,79.04,79.060000,6102.000000,2019-01-29 09:12:00+01:00,18,534,79.152271,79.136496,-0.000259,-0.000102,0.001231,0.000959,0.001177,0.000915
19,2019-01-29 09:13:00+01:00,101.0,2019-01-29 08:13:00+00,79.10,79.16,79.06,79.160000,11455.000000,2019-01-29 09:13:00+01:00,19,535,79.153676,79.138734,0.000018,0.000028,0.001321,0.001033,0.001271,0.000989
20,2019-01-29 09:14:00+01:00,101.0,2019-01-29 08:14:00+00,79.18,79.26,79.10,79.260000,24712.000000,2019-01-29 09:14:00+01:00,20,536,79.173008,79.150283,0.000244,0.000146,0.001125,0.000957,0.001081,0.000917
21,2019-01-29 09:15:00+01:00,101.0,2019-01-29 08:15:00+00,79.24,79.24,79.22,79.220000,4717.000000,2019-01-29 09:15:00+01:00,21,537,79.181552,79.156923,0.000108,0.000084,0.001141,0.000981,0.001096,0.000940
22,2019-01-29 09:16:00+01:00,101.0,2019-01-29 08:16:00+00,79.20,79.24,79.20,79.240000,5947.000000,2019-01-29 09:16:00+01:00,22,538,79.192179,79.164835,0.000134,0.000100,0.000900,0.000871,0.000875,0.000840
23,2019-01-29 09:17:00+01:00,101.0,2019-01-29 08:17:00+00,79.26,79.34,79.26,79.300000,19697.000000,2019-01-29 09:17:00+01:00,23,539,79.211783,79.177708,0.000247,0.000163,0.000648,0.000741,0.000630,0.000714
24,2019-01-29 09:18:00+01:00,101.0,2019-01-29 08:18:00+00,79.32,79.32,79.28,79.280000,2298.000000,2019-01-29 09:18:00+01:00,24,540,79.224186,79.187450,0.000157,0.000123,0.000528,0.000670,0.000513,0.000645
25,2019-01-29 09:19:00+01:00,101.0,2019-01-29 08:19:00+00,79.24,79.26,79.20,79.200000,35676.000000,2019-01-29 09:19:00+01:00,25,541,79.219788,79.188645,-0.000056,0.000015,0.000575,0.000680,0.000566,0.000660
26,2019-01-29 09:20:00+01:00,101.0,2019-01-29 08:20:00+00,79.22,79.28,79.22,79.280000,6969.000000,2019-01-29 09:20:00+01:00,26,542,79.230736,79.197346,0.000138,0.000110,0.000470,0.000616,0.000463,0.000597
27,2019-01-29 09:21:00+01:00,101.0,2019-01-29 08:21:00+00,79.28,79.30,79.24,79.280000,14515.000000,2019-01-29 09:21:00+01:00,27,543,79.239693,79.205218,0.000113,0.000099,0.000301,0.000513,0.000303,0.000501
28,2019-01-29 09:22:00+01:00,101.0,2019-01-29 08:22:00+00,79.30,79.36,79.30,79.320000,18867.000000,2019-01-29 09:22:00+01:00,28,544,79.254294,79.216149,0.000184,0.000138,-0.000057,0.000305,-0.000038,0.000303
29,2019-01-29 09:23:00+01:00,0.0,0,0.00,0.00,0.00,79.300000,0.000000,2019-01-29 09:23:00+01:00,29,545,79.262604,79.224135,0.000105,0.000101,-0.000306,0.000140,-0.000277,0.000146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,2019-01-29 17:00:00+01:00,101.0,2019-01-29 16:00:00+00,79.96,79.98,79.94,79.940000,18286.000000,2019-01-29 17:00:00+01:00,486,1002,79.968744,79.992313,-0.000080,-0.000069,0.002155,0.001265,0.002051,0.001198
487,2019-01-29 17:01:00+01:00,101.0,2019-01-29 16:01:00+00,79.96,80.02,79.96,80.020000,8453.000000,2019-01-29 17:01:00+01:00,487,1003,79.978064,79.994950,0.000117,0.000033,0.002370,0.001463,0.002258,0.001387
488,2019-01-29 17:02:00+01:00,101.0,2019-01-29 16:02:00+00,80.02,80.06,80.02,80.040000,5379.000000,2019-01-29 17:02:00+01:00,488,1004,79.989325,79.999241,0.000141,0.000054,0.002547,0.001642,0.002430,0.001561
489,2019-01-29 17:03:00+01:00,101.0,2019-01-29 16:03:00+00,80.04,80.08,80.04,80.080000,32438.000000,2019-01-29 17:03:00+01:00,489,1005,80.005811,80.006932,0.000206,0.000096,0.002606,0.001760,0.002490,0.001675
490,2019-01-29 17:04:00+01:00,101.0,2019-01-29 16:04:00+00,80.08,80.12,80.06,80.120000,19577.000000,2019-01-29 17:04:00+01:00,490,1006,80.026573,80.017700,0.000259,0.000135,0.002568,0.001820,0.002457,0.001735
491,2019-01-29 17:05:00+01:00,101.0,2019-01-29 16:05:00+00,80.10,80.10,80.06,80.100000,24223.000000,2019-01-29 17:05:00+01:00,491,1007,80.039923,80.025538,0.000167,0.000098,0.002794,0.002010,0.002673,0.001917
492,2019-01-29 17:06:00+01:00,101.0,2019-01-29 16:06:00+00,80.12,80.16,80.12,80.160000,9791.000000,2019-01-29 17:06:00+01:00,492,1008,80.061755,80.038344,0.000273,0.000160,0.002849,0.002114,0.002725,0.002017
493,2019-01-29 17:07:00+01:00,101.0,2019-01-29 16:07:00+00,80.18,80.28,80.18,80.240000,53196.000000,2019-01-29 17:07:00+01:00,493,1009,80.094163,80.057550,0.000405,0.000240,0.002674,0.002092,0.002555,0.001995
494,2019-01-29 17:08:00+01:00,101.0,2019-01-29 16:08:00+00,80.24,80.26,80.24,80.260000,2768.000000,2019-01-29 17:08:00+01:00,494,1010,80.124316,80.076831,0.000376,0.000241,0.002489,0.002051,0.002376,0.001955
495,2019-01-29 17:09:00+01:00,101.0,2019-01-29 16:09:00+00,80.22,80.22,80.18,80.180000,23569.000000,2019-01-29 17:09:00+01:00,495,1011,80.134440,80.086656,0.000126,0.000123,0.002648,0.002176,0.002534,0.002078
496,2019-01-29 17:10:00+01:00,101.0,2019-01-29 16:10:00+00,80.16,80.24,80.16,80.220000,19798.000000,2019-01-29 17:10:00+01:00,496,1012,80.149996,80.099356,0.000194,0.000159,0.002610,0.002201,0.002508,0.002108
497,2019-01-29 17:11:00+01:00,101.0,2019-01-29 16:11:00+00,80.24,80.32,80.24,80.300000,29717.000000,2019-01-29 17:11:00+01:00,497,1013,80.177270,80.118465,0.000340,0.000239,0.002524,0.002195,0.002423,0.002101
498,2019-01-29 17:12:00+01:00,101.0,2019-01-29 16:12:00+00,80.32,80.36,80.32,80.320000,10678.000000,2019-01-29 17:12:00+01:00,498,1014,80.203221,80.137658,0.000324,0.000240,0.002535,0.002232,0.002428,0.002135
499,2019-01-29 17:13:00+01:00,101.0,2019-01-29 16:13:00+00,80.34,80.34,80.32,80.320000,9859.000000,2019-01-29 17:13:00+01:00,499,1015,80.224453,80.155024,0.000265,0.000217,0.002385,0.002182,0.002290,0.002090
500,2019-01-29 17:14:00+01:00,101.0,2019-01-29 16:14:00+00,80.34,80.34,80.32,80.320000,3576.000000,2019-01-29 17:14:00+01:00,500,1016,80.241825,80.170736,0.000216,0.000196,0.002099,0.002052,0.002033,0.001975
501,2019-01-29 17:15:00+01:00,101.0,2019-01-29 16:15:00+00,80.34,80.42,80.34,80.420000,19371.000000,2019-01-29 17:15:00+01:00,501,1017,80.274221,80.194476,0.000404,0.000296,0.001572,0.001780,0.001535,0.001719
502,2019-01-29 17:16:00+01:00,101.0,2019-01-29 16:16:00+00,80.44,80.44,80.42,80.420000,27071.000000,2019-01-29 17:16:00+01:00,502,1018,80.300726,80.215954,0.000330,0.000268,0.001074,0.001499,0.001064,0.001455
503,2019-01-29 17:17:00+01:00,101.0,2019-01-29 16:17:00+00,80.42,80.44,80.38,80.400000,14994.000000,2019-01-29 17:17:00+01:00,503,1019,80.318776,80.233482,0.000225,0.000218,0.000643,0.001233,0.000661,0.001206
504,2019-01-29 17:18:00+01:00,101.0,2019-01-29 16:18:00+00,80.40,80.40,80.40,80.400000,6064.000000,2019-01-29 17:18:00+01:00,504,1020,80.333544,80.249341,0.000184,0.000198,0.000222,0.000956,0.000266,0.000947
505,2019-01-29 17:19:00+01:00,101.0,2019-01-29 16:19:00+00,80.44,80.48,80.44,80.460000,26153.000000,2019-01-29 17:19:00+01:00,505,1021,80.356536,80.269404,0.000286,0.000250,-0.000328,0.000598,-0.000261,0.000606
506,2019-01-29 17:20:00+01:00,101.0,2019-01-29 16:20:00+00,80.46,80.46,80.42,80.420000,6987.000000,2019-01-29 17:20:00+01:00,506,1022,80.368075,80.283746,0.000144,0.000179,-0.000477,0.000423,-0.000413,0.000436
507,2019-01-29 17:21:00+01:00,101.0,2019-01-29 16:21:00+00,80.44,80.48,80.44,80.480000,13076.000000,2019-01-29 17:21:00+01:00,507,1023,80.388425,80.302437,0.000253,0.000233,-0.000737,0.000192,-0.000680,0.000207
508,2019-01-29 17:22:00+01:00,101.0,2019-01-29 16:22:00+00,80.50,80.54,80.50,80.540000,47620.000000,2019-01-29 17:22:00+01:00,508,1024,80.415984,80.325062,0.000343,0.000282,-0.001091,-0.000090,-0.001043,-0.000076
509,2019-01-29 17:23:00+01:00,101.0,2019-01-29 16:23:00+00,80.54,80.54,80.46,80.460000,30840.000000,2019-01-29 17:23:00+01:00,509,1025,80.423987,80.337913,0.000100,0.000160,-0.001202,-0.000253,-0.001166,-0.000241
510,2019-01-29 17:24:00+01:00,101.0,2019-01-29 16:24:00+00,80.44,80.44,80.36,80.380000,15594.000000,2019-01-29 17:24:00+01:00,510,1026,80.415989,80.341922,-0.000099,0.000050,-0.001114,-0.000306,-0.001089,-0.000296
511,2019-01-29 17:25:00+01:00,0.0,0,0.00,0.00,0.00,80.348000,495807.400000,2019-01-29 17:25:00+01:00,511,1027,80.403628,80.342501,-0.000154,0.000007,-0.000970,-0.000316,-0.000954,-0.000310
512,2019-01-29 17:26:00+01:00,0.0,0,0.00,0.00,0.00,80.316000,495807.400000,2019-01-29 17:26:00+01:00,512,1028,80.387695,80.339977,-0.000198,-0.000031,-0.000779,-0.000287,-0.000771,-0.000284
513,2019-01-29 17:27:00+01:00,0.0,0,0.00,0.00,0.00,80.284000,495807.400000,2019-01-29 17:27:00+01:00,513,1029,80.368842,80.334646,-0.000235,-0.000066,-0.000550,-0.000223,-0.000547,-0.000222
514,2019-01-29 17:28:00+01:00,0.0,0,0.00,0.00,0.00,80.252000,495807.400000,2019-01-29 17:28:00+01:00,514,1030,80.347598,80.326775,-0.000264,-0.000098,-0.000289,-0.000127,-0.000289,-0.000127
515,2019-01-29 17:29:00+01:00,101.0,2019-01-29 16:29:00+00,80.22,80.22,80.22,80.220000,495807.400000,2019-01-29 17:29:00+01:00,515,1031,80.324398,80.316606,-0.000289,-0.000127,0.000000,0.000000,0.000000,0.000000

In [35]:
columns = ['timestamp','last', 'diff_ema_20', 'value_ema_20_beta_99', 'value_ema_20_beta_98', 
           'diff_ema_10', 'value_ema_10_beta_99', 'value_ema_10_beta_98', 'volume', 'step_of_day', 'step_of_week']

In [70]:

from functools import reduce

# to order the columns in the order: last1,last2...last30, diff1, diff2,...diff30, value1, value2,...value30
def func(x):
    if 'timestamp' in x:
        return 0
    num = int(x.split('_')[-1])
    
    if 'step_of_day' in x:
        return 30 + x
    elif 'step_of_week' in x:
        return 60 + x
    elif 'last' in x:
        return 100 + num
    elif 'volume' in x:
        return 150 + num
    elif 'diff_ema_10' in x:
        return 200 + num
    elif 'diff_ema_20' in x:
        return 300 + num
    elif 'value_ema_10_beta_98' in x:
        return 400 + num
    elif 'value_ema_10_beta_99' in x:
        return 500 + num
    elif 'value_ema_20_beta_98' in x:
        return 600 + num
    elif 'value_ema_20_beta_99' in x:
        return 700 + num


def merge(df1, df2):
    global index
    merged = df1.set_index('timestamp').join(df2.set_index('timestamp'), how='outer')
    index += 1

    return merged.reset_index().rename({'index':'timestamp'}, axis=1)


columns_wanted = ['timestamp','last', 'diff_ema_20', 'value_ema_20_beta_99', 'value_ema_20_beta_98', 
           'diff_ema_10', 'value_ema_10_beta_99', 'value_ema_10_beta_98', 'volume']
df_day_list = []

for day_id in range(len(time_series_all_list[0])):
    print("processing day: {}".format(day_id))
    df_list = []
    for i in range(len(stock_id_list)):
        rename_map = {'last': 'last_' + str(i),
                      'diff_ema_20':'diff_ema_20_' + str(i),
                      'value_ema_20_beta_99':'value_ema_20_beta_99_' + str(i),
                      'value_ema_20_beta_98':'value_ema_20_beta_98_' + str(i),
                      'diff_ema_10':'diff_ema_10_' + str(i),
                      'value_ema_10_beta_99':'value_ema_10_beta_99_' + str(i),
                      'value_ema_10_beta_98':'value_ema_10_beta_98_'+ str(i),
                      'volume': 'volume_' + str(i)
                     }
        df = time_series_all_list[i][day_id][columns_wanted].rename(rename_map, axis=1)
        df_list.append(df)

    index = 0
    df_merged_daily = reduce(merge, df_list)
    columns = df_merged_daily.columns.tolist()
    columns.sort(key=func)
    df_merged_sorted = df_merged_daily[columns]
    
    df_day_list.append(df_merged_sorted)
    if day_id == 0:
        df_merged = df_merged_sorted
    else:
        df_merged = df_merged.append(df_merged_sorted)

processing day: 0
processing day: 1
processing day: 2
processing day: 3
processing day: 4
processing day: 5
processing day: 6
processing day: 7
processing day: 8
processing day: 9
processing day: 10
processing day: 11
processing day: 12
processing day: 13
processing day: 14
processing day: 15
processing day: 16
processing day: 17
processing day: 18
processing day: 19
processing day: 20
processing day: 21
processing day: 22
processing day: 23
processing day: 24
processing day: 25
processing day: 26
processing day: 27
processing day: 28
processing day: 29
processing day: 30
processing day: 31
processing day: 32
processing day: 33
processing day: 34
processing day: 35
processing day: 36
processing day: 37
processing day: 38
processing day: 39
processing day: 40
processing day: 41
processing day: 42
processing day: 43
processing day: 44
processing day: 45
processing day: 46
processing day: 47
processing day: 48
processing day: 49
processing day: 50
processing day: 51
processing day: 52
processing day: 53
processing day: 54
processing day: 55
processing day: 56
processing day: 57
processing day: 58
processing day: 59
processing day: 60
processing day: 61
processing day: 62

In [72]:
columns = df_merged_sorted.columns
last_columns = []
volume_columns = []
diff_ema_10_columns = []
diff_ema_20_columns = []
value_ema_10_beta_98_columns = []
value_ema_10_beta_99_columns = []
value_ema_20_beta_98_columns = []
value_ema_20_beta_99_columns = []
for item in columns:
    if 'last' in item:
        last_columns.append(item)
    elif 'volume' in item:
        volume_columns.append(item)
    elif 'diff_ema_10' in item:
        diff_ema_10_columns.append(item)
    elif 'diff_ema_20' in item:
        diff_ema_20_columns.append(item)
    elif 'value_ema_10_beta_98' in item:
        value_ema_10_beta_98_columns.append(item)
    elif 'value_ema_10_beta_99' in item:
        value_ema_10_beta_99_columns.append(item)
    elif 'value_ema_20_beta_98' in item:
        value_ema_20_beta_98_columns.append(item)
    elif 'value_ema_20_beta_99' in item:
        value_ema_20_beta_99_columns.append(item)

In [73]:
df_merged[['timestamp'] + volume_columns + last_columns + diff_ema_10_columns + value_ema_10_beta_98_columns].to_csv('data-prep-ema10-beta98.csv')
df_merged[['timestamp'] + volume_columns + last_columns + diff_ema_10_columns + value_ema_10_beta_99_columns].to_csv('data-prep-ema10-beta99.csv')
df_merged[['timestamp'] + volume_columns + last_columns + diff_ema_20_columns + value_ema_20_beta_98_columns].to_csv('data-prep-ema20-beta98.csv')
df_merged[['timestamp'] + volume_columns + last_columns + diff_ema_20_columns + value_ema_20_beta_99_columns].to_csv('data-prep-ema20-beta99.csv')